body {
  margin-top: 50px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  color: #ffffff;
}
.welcome-section {
  padding: 150px 20px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

.welcome-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.welcome-text {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 1.5em;
  line-height: 1.6;
}

.welcome-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


@media only screen and (min-width: 768px) {
  .welcome-content {
    flex-direction: row;
    justify-content: center;
  }

  .welcome-text {
    text-align: left;
    margin-right: 20px;
  }

  .welcome-section h1 {
    font-size: 4em;
  }

  .welcome-section p {
    font-size: 1.8em;
  }
}
.section {
  padding: 80px 20px;
  text-align: center;
  background-color: rgb(27, 27, 27);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 5px;
  margin: 20px;
}

.section h1,
.section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #ffffff;
}

.section p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #d1d1d1;
}

.drawing {
  height: 2px;
  width: 80%;
  background: linear-gradient(to right, transparent, #d3d3d3, transparent);
  margin: 40px auto;
}


@media only screen and (max-width: 768px) {
  .section {
    padding: 60px 15px;
  }

  .section h1,
  .section h2 {
    font-size: 2em;
    margin-bottom: 15px;
  }

  .section p {
    font-size: 1em;
  }

  .drawing {
    margin: 30px auto;
  }

  .footer-section {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer-logo {
    font-size: 1.2em;
  }
}
