/* .center{
    align-content: center;
    padding-left: 40%;
}
.head{
    padding-left: 50%px;
}
.cardprofile{
    border: 2px solid black;
    align-content: center;
    width: 700px;
    background-color: aqua
    
} */