/* Profile container */
.profile-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Profile header */
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  /* Profile image */
  .profile-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  /* Profile info */
  .profile-info {
    display: flex;
    flex-direction: column;
  }
  
  .username {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .field {
    display: flex;
    margin-bottom: 10px;
  }
  
  .label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .value {
    margin: 0;
  }
  